
h2 {
    color:aqua
}
*{
   border:solid  
}

.Header{
    background-color: cadetblue ;
    display : flex ;
    justify-content : space-between ;
}

.Grit {
    display : flex ;
    flex-wrap : wrap ;
    justify-content : space-evenly ;
}
.footer {
    display : flex ;
    justify-content : flex-end ;
}
p,h2{
    text-align : center ;
}